<%- include('header') -%>
<body>
  <div class="box" id="heading">
    <h1>About</h1>
  </div>
  <div class="item box">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa dicta
      cumque quam quo pariatur aut, laboriosam officia eius ea, ipsam nobis?
      Libero temporibus quod ut exercitationem sit recusandae tempora inventore?
    </p>
  </div>
</body>
<%- include('footer')-%>
